.document {
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px 70px;
}

.text {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.headerTitle {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #000000;
}

@media (min-width: 1130px) {
    .document {
        margin-right: -20px;
        width: 35%;
        padding: 50px 70px;
    }
}

@media (max-width: 1130px) {
    .document {
        width: 65%;
        margin: 0 auto 50px;
        padding: 50px 70px;
    }
}