.form {
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.formTitle {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #000000;
}

.labelInputGroup {
    margin-bottom: 50px;
}

.labelErrors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.labelText {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

}

.errors {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: right;
    color: #e34343;
}

.input {
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    margin-bottom: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.incorrectInput {
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #e34343;;
    width: 100%;
    margin-bottom: 5px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

.sexError {
    color: #e34343;
}

.labelCheckbox {
    margin-bottom: 50px;
    display: flex;
}

.checkbox {
    margin: 7px 0 0 30px;
}

.button {
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -125px;
    border-radius: 0;
    border: none;
    background: #ededed;
    width: 250px;
    height: 40px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
}

.none {

}

@media (min-width: 1130px) {
    .form {
        margin-left: -20px;
        width: 35%;
        padding: 50px 70px;
    }
}

@media (max-width: 1130px) {
    .form {
        width: 65%;
        margin: 0 auto 50px;
        padding: 50px 70px;
    }
}
