.headerWrapper {
    display: flex;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.form {
    position: absolute;
    left: 20%;
    top: 230px;
}

.document {
    position: absolute;
    right: 20%;
    top: 230px
}

.logo {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.ellipse {
    position: absolute;
    top: 70px;
    margin-left: -55px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #000000;
}

.line {
    position: absolute;
    top: 70px;
    width: 1px;
    height: 200px;
    background: #000000;
    margin-left: -50px;
}

.headerText {
    position: absolute;
    top: 140px;
    width: 190px;
    margin-left: -20px;
}

.square {
    width: 220px;
    height: 220px;
    margin-top: 50px;
    background: #ffffff;
}