body {
  min-width: 560px;
}

:root {
  background: #ffffff;
  width: 100%;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  background: #ededed;
  width: 75%;
}

@media (min-width: 1130px) {
  .forms {
    display: flex;
    justify-content: space-between;
    padding-bottom: 650px;
    padding-top: 380px;
  }
}

@media (max-width: 1130px) {

  body {
    min-width: 560px;
  }


  .forms {
    padding-bottom: 450px;
    padding-top: 380px;
  }
}