body {
  min-width: 1200px;
}

:root {
  background: #ffffff;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  background: #ededed;
  width: 75%;
  position: relative;
}

.forms {
  display: flex;
  width: 104%;
  height: 750px;
  margin: 383px auto 0;
  padding-bottom: 650px;
}